.calenderconatiner{
    display: flex;
    flex-direction: column;
    gap:10px

}
.cardalign{
    display: flex;
    flex-direction: row;
    gap: 20px
}

.icon {
  width: 24px;
  height: 24px;
  color: #666;
  object-fit: contain; 
}