.mainContent {
  padding: 1rem;
  flex: 1;
  background-color: #f8f9fc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.leftColumn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.activitySection {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .leftColumn,
  .rightColum {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
  }
}